.wrap{
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.avatar{
width: 320px;
}
.resume{
  width: 320px;
}
.routeBtn{
  width: 320px;
}
@media screen and (max-width:1080px){
  .wrap{

  }
}