.wrap {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .6);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition-duration: 0.75s;
  transition-property: transform, margin-left;
  width: 32rem;
  z-index: 100;
}

.avatarWrap {
  height: 32rem;
}

.avatar {
  background-image: url("../../../assets/logo.jpg");
  width: 13rem;
  height: 13rem;
  background-size: 13rem 13rem;
  border-radius: 50%;
  align-self: center;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.text {
  flex: 1;
  font-family: "Microsoft YaHei";
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}

.address {
  flex: 1;
  text-align: center;
  margin-top: 1rem;
}

.resume {
  display: flex;
  height: 6rem;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.gitHub {
  color: #fff;
}

.name{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  margin-left: 2rem;
}

.routeBtn {
  height: 6rem;
  //flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tab {
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
}
.tab li{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  display: block;
  width: 68px;
  line-height: 100%;
  box-sizing: border-box;
  transition: all .2s ease;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
}
.tab li a{
  text-decoration:none;
  color: white;
}
.active{
  border: 1px solid #38b7ea;
  background: transparent;
  color: #38b7ea;
  border-radius: 5px;
}



@media screen and (max-width: 1080px) {
  .wrap {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, .6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    justify-content: center;
    height: 20rem;
    left: 0;
    position: fixed;
    top: 0;
    transition-duration: 0.75s;
    transition-property: transform, margin-left;
    width: 100%;
    z-index: 100;
    align-items: center;
  }
  .avatarWrap {
    height: 20rem;
    margin-left: 5rem;
  }
  .avatar {
    background-image: url("../../../assets/logo.jpg");
    width: 10rem;
    height: 10rem;
    background-size: 10rem 10rem;
    border-radius: 50%;
    align-self: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    //margin-left: 1rem;
  }
  .resume {
    //display: flex;
    //height: 6rem;
    //justify-content: center;
    //align-content: center;
    //text-align: center;
    //margin: 0 10px 0 10px;
    display: none;
  }
  .routeBtn {
    height: 20rem;
    width: 20rem;
    //flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .tab {
    width: 100%;
    height: 15rem;
    display: block;
    margin-top: 50px;
    margin-left: 10px
  }
  .tab li{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    display: block;
    width: 150px;
    line-height: 100%;
    box-sizing: border-box;
    transition: all .2s ease;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
  }
}