.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  transition: all .3s;
  overflow: hidden;
}
.logo img{
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin-left: -13px;
}
.title{
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  text-align: center;
}

.right {
  float: right;
  height: 100%;
  margin-right: 18px;
  color: #565a5f;
  cursor: pointer;
  .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all .3s;
    height: 100%;
    > i {
      font-size: 16px;
      vertical-align: middle;
    }
    &:global(.ant-popover-open),
    &:hover {
      background-color: aquamarine;
    }

  }
}

.avatar {
  margin: 15px 10px 20px 0;
  background: rgba(255, 255, 255, .85);
  vertical-align: middle;
}

.right:hover {
  color: #108ee9;
}

.menu {
  margin-top: 15px;
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    width: 160px;
  }
}

.menu li {
  width: 100%;
}

