
.tags {
  flex: 1;
  width: calc(100% - 200px);
  margin: 0 auto;
  margin-top: 2rem;
  color: black;
  overflow: auto;
}
.tags::-webkit-scrollbar {display:none}
.title {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  color: dimgrey;
}

.tags hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid floralwhite;
  border-bottom: 1px solid #ccc;
}

.article {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}
.comment {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px;
}
.submitBox {
  display: flex;
  flex-direction: row;
}
.visitorBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}